body {
  background-color: #eeecec;
  background-size: 100%, 100%;
  margin: 0 0;
}

.wrapper {
  margin: 0 0;
}

/* TYPO */

h2 {
  font-family: "monotalic-wide", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h3 {
  font-family: "monotalic-wide", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
}

h4 {
  font-family: "monotalic-wide", sans-serif;
  font-weight: 300;
  font-style: normal;
}

p {
  font-family: "monotalic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

/* BADGE */

.star {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
  padding: 20px;
  color: black;
  background-color: white;
  text-align: center;
  font-family: "monotalic-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  cursor: grab;
}

/* Page structure */

.wrapper {
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title a{
  color: black;
  text-decoration: none;
  font-family: "monotalic-wide", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* GRIDS */
/* HEAD */

#head .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
}

/* NEWS */

#news .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
}

/* NYOMDA */

/* FOTOS */

#fotos .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
}

#foto-eins{
  background-color: rgba(228, 93, 80,0.75);
}

#foto-zwei{
  background-color: rgba(255, 72, 176,0.75);
}

/* GRID ALLGEMEIN */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
}

.grid-item {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  display: block;
  padding: 10px;
}

.grid-item a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.grid-item:hover a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#active .grid-item {
  text-decoration: none;
  color: rgba(255,255,255,.5);
  font-size: 18px;
  font-weight: bold;
}

/* NOT IN USE
.grid-artists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
  width: vw;
}

.grid-item-artists {
  display: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  display: block;
  padding: 10px;
}

.grid-item-artists a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.grid-item-artists:hover a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#active .grid-item-artists {
  text-decoration: none;
  color: rgba(255,255,255,.5);
  font-size: 18px;
  font-weight: bold;
}

 */

.img-artists {
  width: 100%;
}

/* FOOTER */

.grid-footer {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
  border-top: 2px solid black;
}

.grid-item-footer a {
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-weight: bold;
}

.grid-item-footer:hover a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

/* LINK FARBEN */
#news a:hover{
  color: rgba(255, 72, 176,0.75);
}

#prints a:hover{
  color: white;
}

#bold{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

/* TYPO FOOTER */
.footer p{
  font-size: 14px;
}

#links a{
  font-size: 14px;
  font-weight: 300;
}

#links a:hover{
  color: rgba(255, 72, 176,0.75);
}

/* TYPO COPYRIGHT */
#copy p{
  margin: 0 0;
  font-size: 12px;
  color: darkgrey;
}

#copy a{
  margin: 0 0;
  font-size: 12px;
  color: darkgrey;
  font-weight: 300;
  text-decoration: underline;
}

#copy a:hover{
  color: rgba(255, 72, 176,0.75);
}

/* COLORED BACKGROUND */

#nyomda {
  background-color: rgba(255, 72, 176, 0.5);
}

#prints {
  background-color: rgba(228, 93, 80,0.65);
}

/* RISO COLORS */

.dot1 {
  height: 20px;
  width: 20px;
  background-color: rgba(0,0,0,0.85);
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 20px;
  width: 20px;
  background-color: rgba(255, 72, 176,0.85);
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 20px;
  width: 20px;
  background-color: rgba(228, 93, 80,0.85);
  border-radius: 50%;
  display: inline-block;
}


        /* PHONE RESPONSIVE */

@media only screen and (max-width: 393px) {

  .body {
    max-width: 100vw;
  }

  .wrapper {
    max-width: 100vw;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
    .grid-footer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

  #links.grid-item {
    padding: 0;
  }

    h2 {
      margin-top: 0;
    }

  h2 a{
    margin-top: 0;
  }


}