body {
  background-color: #eeecec;
    background-size: 100%, 100%;
  margin: 0 0;
}

p {
  font-family: "monotalic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

h3 {
  font-family: "monotalic-wide", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  
}

.star {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
  padding: 20px;
  color: black;
  background-color: white;
  text-align: center;
  font-family: "monotalic-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  cursor: grab;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title a{
  color: black;
  text-decoration: none;
  font-family: "monotalic-wide", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}



#news .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
  width: vw;
}

#head .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
  width: vw;
}

#fotos .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
  width: vw;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
  width: vw;
}

.grid-item {
  display: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  display: block;
  padding: 10px;
}

.grid-item a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.grid-item:hover a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#active .grid-item {
  text-decoration: none;
  color: rgba(255,255,255,.5);
  font-size: 18px;
  font-weight: bold;
}


.grid-artists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
  width: vw;
}

.grid-item-artists {
  display: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  display: block;
  padding: 10px;
}

.grid-item-artists a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.grid-item-artists:hover a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#active .grid-item-artists {
  text-decoration: none;
  color: rgba(255,255,255,.5);
  font-size: 18px;
  font-weight: bold;
}

.img-artists {
  width: 100%;
}


.footer p{
  font-size: 14px;
}

#links a{
  font-size: 14px;
  font-weight: 300;
  
}


.grid-footer {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  top: 0;
  border-top: 2px solid black;
}

.grid-item-footer a {
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-weight: bold;
}

.grid-item-footer:hover a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}


/* Subheading */
h2 {
  font-family: "monotalic-wide", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h4 {
    font-family: "monotalic-wide", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.wrapper {
  margin: 0 0;
}


#news a:hover{
  color: rgba(255, 72, 176,0.75);
}

#prints a:hover{
  color: white;
}

#links a:hover{
  color: rgba(255, 72, 176,0.75);
}

#copy a:hover{
  color: rgba(255, 72, 176,0.75);
}


/* Scroll */
.scroll {
  position: relative;
  width: 100vw;
  height: 40px;
  background-color: rgba(255, 72, 176, 0.5);
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.m-scroll p{
  overflow_ hidden;
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  display: inline-block;
}


#bold{
    text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#copy p{
  margin: 0 0;
  font-size: 12px;
 color: darkgrey;
}

#copy a{
  margin: 0 0;
  font-size: 12px;
 color: darkgrey;
  font-weight: 300;
  text-decoration: underline;
}

#news{
  
}
#nyomda {
  background-color: rgba(255, 72, 176, 0.5);
}

#faq {
  
}


#prints {
  background-color: rgba(228, 93, 80,0.65);
}

.dot1 {
  height: 20px;
  width: 20px;
  background-color: rgba(0,0,0,0.85);
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 20px;
  width: 20px;
  background-color: rgba(255, 72, 176,0.85);
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 20px;
  width: 20px;
  background-color: rgba(228, 93, 80,0.85);
  border-radius: 50%;
  display: inline-block;
}

#foto-eins{
  background-color: rgba(228, 93, 80,0.75);
}


#foto-zwei{
  background-color: rgba(255, 72, 176,0.75);
}


 #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
        }

        #overlay img {
            max-width: 80%;
            max-height: 80%;
            border: 2px solid white;
            border-radius: 5px;
        }

        #close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 24px;
            color: white;
            cursor: pointer;
        }
